In [1]:
Marks= 34

if Marks >= 60:
    if Marks > 70: 
        print(Marks, "-Dictiction")
    else:
        print(Marks, "-first")
    
elif Marks >50 and Marks<=59:
        print(Marks, "-Second")
    
elif Marks >=35:
        print(Marks, "-Pass")
    
else:
        print(Marks, "-Fail! Better luck next")

34 -Fail! Better luck next

### Set items are unordered, unchangeable, and do not allow duplicate values

In [2]:
num = set()

In [3]:
num

set()

In [4]:
num= set(1)

TypeError: 'int' object is not iterable

In [5]:
num.add(1)

In [6]:
num

{1}

In [7]:
type(num)

set

In [8]:
num.add(2)
num.add(4)
num.add(1)
num.add(5)
num

{1, 2, 4, 5}

In [9]:
num.add(3)
num

{1, 2, 3, 4, 5}

In [10]:
L=[6,3,6,1,2,5,4,9,8,1,3,4,5,7]
L

[6, 3, 6, 1, 2, 5, 4, 9, 8, 1, 3, 4, 5, 7]

In [11]:
rem_dupli= set(L)

In [12]:
rem_dupli

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [13]:
name= set('Vikas', 'Aarti' , 'Raj', 'Virat', 'Arti', 'Aarti')
name

TypeError: set expected at most 1 argument, got 6

In [14]:
name= set('Vikas')
name

{'V', 'a', 'i', 'k', 's'}

In [15]:
name.add('r')
name

{'V', 'a', 'i', 'k', 'r', 's'}

In [16]:
name.pop(0)
name

TypeError: set.pop() takes no arguments (1 given)

In [17]:
name.pop()
name

{'a', 'i', 'k', 'r', 's'}

In [18]:
name.add("vikas")
name

{'a', 'i', 'k', 'r', 's', 'vikas'}

In [19]:
name1 = {'vikas', 'ajay', 'tabbu'}
name1

{'ajay', 'tabbu', 'vikas'}

In [20]:
type(name1)

set

In [21]:
set1 = {"apple", "banana", "cherry"}
set2 = {1, 5, 7, 9, 3}
set3 = {True, False, False}

In [22]:
set1

{'apple', 'banana', 'cherry'}

In [23]:
set3

{False, True}

In [24]:
set2

{1, 3, 5, 7, 9}

In [25]:
set1
set2
set3

{False, True}

In [27]:
name= set('Vikas', 'Aarti' , 'Raj', 'Virat', 'Arti', 'Aarti')
name

TypeError: set expected at most 1 argument, got 6

In [31]:
name= set(('Vikas', 'Aarti' , 'Raj', 'Virat', 'Arti', 'Aarti'))
name

{'Aarti', 'Arti', 'Raj', 'Vikas', 'Virat'}

In [29]:
name.pop()
print(name.pop())

Aarti

In [32]:
name

{'Aarti', 'Arti', 'Raj', 'Vikas', 'Virat'}

In [33]:
name.pop()
name

{'Aarti', 'Arti', 'Raj', 'Vikas'}

In [34]:
name.pop()
print(name.pop())

Vikas

In [35]:
name

{'Arti', 'Raj'}

In [1]:
#          Creating Dictionary

my_dic ={'Roll_no' : 3, 'marks' : [78,85,68], 'sub': ['math', 'science','computer']}
my_dic

{'Roll_no': 3, 'marks': [78, 85, 68], 'sub': ['math', 'science', 'computer']}

In [8]:
'Roll_no'

'Roll_no'

In [9]:
my_dic['sub']

['math', 'science', 'computer']

In [14]:
my_dic['Roll_no']

3

In [16]:
my_dic['marks'][1]

85

In [23]:
my_dic['marks']

[68, 78, 85]

In [24]:
my_dic['sub'][2]

'computer'

In [25]:
my_dic['sub'][1].upper()

'SCIENCE'

In [29]:
my_dic['marks'].sort()
my_dic['marks']

[68, 78, 85]

In [30]:
my_dic['marks'].reverse()

In [31]:
my_dic['marks']

[85, 78, 68]

In [ ]:
my_dic['sub'].

In [32]:
my_dic

{'Roll_no': 3, 'marks': [85, 78, 68], 'sub': ['math', 'science', 'computer']}

In [33]:
# lengthy code to add marks to the data of the list
my_dic['marks'][1] = my_dic['marks'][1] + 2

In [34]:
my_dic['marks'][1]

80

In [35]:
my_dic

{'Roll_no': 3, 'marks': [85, 80, 68], 'sub': ['math', 'science', 'computer']}

In [36]:
# Sort code to add number to the data of the list
my_dic['marks'][2]+= 2

In [37]:
my_dic

{'Roll_no': 3, 'marks': [85, 80, 70], 'sub': ['math', 'science', 'computer']}

In [39]:
my_dic['marks'][0] -= 3
my_dic

{'Roll_no': 3, 'marks': [82, 80, 70], 'sub': ['math', 'science', 'computer']}

In [40]:
# To add new key in exist dictionary
my_dic['year'] = '2nd'

In [41]:
my_dic

{'Roll_no': 3,
 'marks': [82, 80, 70],
 'sub': ['math', 'science', 'computer'],
 'year': '2nd'}

In [42]:
# update value
my_dic['sub'][0] = 'english'

In [43]:
my_dic

{'Roll_no': 3,
 'marks': [82, 80, 70],
 'sub': ['english', 'science', 'computer'],
 'year': '2nd'}

In [44]:
my_dic.items()

dict_items([('Roll_no', 3), ('marks', [82, 80, 70]), ('sub', ['english', 'science', 'computer']), ('year', '2nd')])

In [46]:
my_dic

{'Roll_no': 3,
 'marks': [82, 80, 70],
 'sub': ['english', 'science', 'computer'],
 'year': '2nd'}

In [47]:
final_dic= my_dic.copy()

In [48]:
final_dic

{'Roll_no': 3,
 'marks': [82, 80, 70],
 'sub': ['english', 'science', 'computer'],
 'year': '2nd'}

In [49]:
my_dic.keys()

dict_keys(['Roll_no', 'marks', 'sub', 'year'])

In [50]:
my_dic.values()

dict_values([3, [82, 80, 70], ['english', 'science', 'computer'], '2nd'])

In [ ]:
my_dic.

In [51]:
# Update value of dictionary by update mathod
my_dic.update({'Roll_no' : 1})

In [52]:
my_dic

{'Roll_no': 1,
 'marks': [82, 80, 70],
 'sub': ['english', 'science', 'computer'],
 'year': '2nd'}

In [7]:
i = 1
while i < 6:

  print(i)
  i += 1

1
2
3
4
5

## for loop-
 for loop is used for iterating over a sequence (that is either a list, a tuple, a dictionary, a set, or a string).

In [8]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
  print(x)

apple
banana
cherry

## Looping Through a String
 Even strings are iterable objects, they contain a sequence of characters:

In [9]:
for x in "banana":
  print(x)

b
a
n
a
n
a

## The break Statement
 With the break statement we can stop the loop before it has looped through all the items.
The braek statement terminate the loop containing it.

In [10]:

fruits = ["apple", "banana", "cherry"]
for x in fruits:
  print(x)
  if x == "banana":
    break

apple
banana

In [12]:
for x in fruits:
  if x == "banana":
    break
  print(x)

apple

In [36]:
# table program using nested for loop

for x in range(2,6):
    print("table of", x)
    for y in range(1,11):
        print(x, 'x',y, '=', x * y)
        if y == 10: 
            print('\n')

table of 2
2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
2 x 10 = 20


table of 3
3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
3 x 10 = 30


table of 4
4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36
4 x 10 = 40


table of 5
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50

In [39]:
for x in range(2,6):
    print("table of", x)
    for y in range(1,11):
        print(x, 'x',y, '=', x * y)
        if y == 10: 
            print('\n')

table of 2
2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
2 x 10 = 20


table of 3
3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
3 x 10 = 30


table of 4
4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36
4 x 10 = 40


table of 5
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50

In [3]:
n=int(input("Enter the number to print the tables for:"))
for i in range(1,11):
    print(n,"x",i,"=",n*i)

Enter the number to print the tables for:900
900 x 1 = 900
900 x 2 = 1800
900 x 3 = 2700
900 x 4 = 3600
900 x 5 = 4500
900 x 6 = 5400
900 x 7 = 6300
900 x 8 = 7200
900 x 9 = 8100
900 x 10 = 9000

In [45]:
item1 = 200

item2 = 200

if (item1 + item2) >= 500:
    print("you are eligible for free shipping")

else:
     extra = 500 - (item1 + item2)
     print(" you have to purchase", extra, "Rs worth of an item for free shipping")

 you have to purchase 100 Rs worth of an item for free shipping

In [46]:
# range()function

# The range() function returns a sequence of numbers, starting from 0 by default, and increments by 1 (by default),
# and stops before a specified number.

# Syntax
# range(start, stop, stepsize)

print(range(10))

range(0, 10)

In [47]:
print(list(range(10)))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [49]:
roll_number = list(range(1,8))
roll_number

[1, 2, 3, 4, 5, 6, 7]

In [51]:
step_size = list(range(1,22,2))
step_size

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21]

In [16]:
reverse = list(range(10,2,-1))
reverse

[10, 9, 8, 7, 6, 5, 4, 3]

In [ ]:
# range fuction dont work for flaot data. we can fix this issue in the numpy classes

In [19]:
# While Loop while loop in pythone is used to iterate overa block of code as long as the test expression(condotion) is true.
i= 0
 
while i < 10:
    i = i + 1
    print(i, 'Data Science')

1 Data Science
2 Data Science
3 Data Science
4 Data Science
5 Data Science
6 Data Science
7 Data Science
8 Data Science
9 Data Science
10 Data Science

In [4]:
import time
curr_time = time.localtime()
print(curr_time)

time.struct_time(tm_year=2022, tm_mon=8, tm_mday=18, tm_hour=19, tm_min=7, tm_sec=23, tm_wday=3, tm_yday=230, tm_isdst=0)

In [6]:
# let'say you have set an alarm and how this works?

while True:
    curr_time = time.localtime()
    if curr_time.tm_hour == 19 and curr_time.tm_min == 10:
        print("wake up my son")
        break

wake up my son

In [ ]:
# Difference between for loop and while loop
# for loop- if you know how many times you want to excute the code then we use for loop.
# Wile loop- if you don't know how many times you want to excute the code then we use while loop with condition.

In [10]:
# Enumerate() allow us to itrate through a sequence but it keeps track of both tha index and the element.

stu_name = ['Vikas', 'Aarti', 'Avi', 'Mummy','Papa']
for name in enumerate(stu_name):
    print(name)

(0, 'Vikas')
(1, 'Aarti')
(2, 'Avi')
(3, 'Mummy')
(4, 'Papa')

In [12]:
set1 = {1, 2, 3, 4, 5}
print(set(enumerate(set1)))

{(0, 1), (1, 2), (3, 4), (2, 3), (4, 5)}

In [24]:
set2 = {"H", "e", "l", "l", "o"}
L1= list(set2)
for i in enumerate(L1):
    print(i)

(0, 'o')
(1, 'l')
(2, 'e')
(3, 'H')

In [25]:
stu_name = ['Vikas', 'Aarti', 'Avi', 'Mummy','Papa']
for name in enumerate(stu_name,2):
    print(name)

(2, 'Vikas')
(3, 'Aarti')
(4, 'Avi')
(5, 'Mummy')
(6, 'Papa')

In [26]:
# Zip

stu_name = ['Vikas', 'Aarti', 'Avi', 'Mummy','Papa']
stu_mark = [88, 98, 55, 89, 53]

In [28]:
student_details = list(zip(stu_name, stu_mark))
student_details

[('Vikas', 88), ('Aarti', 98), ('Avi', 55), ('Mummy', 89), ('Papa', 53)]

In [29]:
# Unzip

name , marks = zip(*student_details)

In [30]:
name

('Vikas', 'Aarti', 'Avi', 'Mummy', 'Papa')

In [31]:
marks

(88, 98, 55, 89, 53)

In [32]:

# The break Statement
# With the break statement we can stop the loop before it has looped through all the items.
# The braek statement terminate the loop containing it.

fruits = ["apple", "banana", "cherry"]
for x in fruits:
  print(x)
  if x == "banana":
    break

apple
banana

### The continue keyword is used to end the current iteration in a for loop (or a while loop), and continues to the next iteration.

In [13]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
    if x == "banana":
    continue
    print(x)

IndentationError: expected an indented block (3937193608.py, line 4)

In [15]:
i = 0
while i < 9:
    i += 1
    if i == 3:
        continue
    print(i)

1
2
4
5
6
7
8
9