In [1]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException
from selenium.webdriver.common.by import By

import time

In [2]:
!pip install selenium

Requirement already satisfied: selenium in e:\anaconda\lib\site-packages (4.7.2)
Requirement already satisfied: urllib3[socks]~=1.26 in e:\anaconda\lib\site-packages (from selenium) (1.26.9)
Requirement already satisfied: certifi>=2021.10.8 in e:\anaconda\lib\site-packages (from selenium) (2022.6.15)
Requirement already satisfied: trio~=0.17 in e:\anaconda\lib\site-packages (from selenium) (0.22.0)
Requirement already satisfied: trio-websocket~=0.9 in e:\anaconda\lib\site-packages (from selenium) (0.9.2)
Requirement already satisfied: attrs>=19.2.0 in e:\anaconda\lib\site-packages (from trio~=0.17->selenium) (21.4.0)
Requirement already satisfied: outcome in e:\anaconda\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: exceptiongroup>=1.0.0rc9 in e:\anaconda\lib\site-packages (from trio~=0.17->selenium) (1.1.0)
Requirement already satisfied: idna in e:\anaconda\lib\site-packages (from trio~=0.17->selenium) (3.3)
Requirement already satisfied: cffi>=1.14 in e:\anaconda\lib\site-packages (from trio~=0.17->selenium) (1.15.0)
Requirement already satisfied: sortedcontainers in e:\anaconda\lib\site-packages (from trio~=0.17->selenium) (2.4.0)
Requirement already satisfied: async-generator>=1.9 in e:\anaconda\lib\site-packages (from trio~=0.17->selenium) (1.10)
Requirement already satisfied: sniffio in e:\anaconda\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: pycparser in e:\anaconda\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.21)
Requirement already satisfied: wsproto>=0.14 in e:\anaconda\lib\site-packages (from trio-websocket~=0.9->selenium) (1.2.0)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in e:\anaconda\lib\site-packages (from urllib3[socks]~=1.26->selenium) (1.7.1)
Requirement already satisfied: h11<1,>=0.9.0 in e:\anaconda\lib\site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.14.0)

In [2]:
driver = webdriver.Chrome(r"â€ªC:\Users\c\Desktop\chromedriver.exe")

In [3]:
driver.get("https://naukri.com")

In [4]:
driver.maximize_window()

In [5]:
designation = driver.find_element(By.CLASS_NAME,"suggestor-input ")
designation.send_keys("Data Analyst")

In [6]:
location = driver.find_element(By.XPATH,"/html/body/div[1]/div[7]/div/div/div[5]/div/div/div/div[1]/div/input")
location.send_keys("Bengalore")

In [7]:
search = driver.find_element(By.CLASS_NAME,"qsbSubmit")
search.click()

In [8]:
job_title = []
job_location = []
company_name =[]
experience_required = []

In [9]:
# scraping job_totle from the given web page
title_tag = driver.find_elements(By.XPATH,'//a[@class="title ellipsis"]')
for i in title_tag[0:10]:
    title = i.text
    job_title.append(title)

In [10]:
# scraping job_location from the given web page
location_tag = driver.find_elements(By.XPATH,'//span[@class="ellipsis fleft locWdth"]')
for i in location_tag[0:10]:
    location = i.text
    job_location.append(location)

In [11]:
# scraping company_name from the given web page
company_tag = driver.find_elements(By.XPATH,'//a[@class="subTitle ellipsis fleft"]')
for i in company_tag[0:10]:
    company = i.text
    company_name.append(company)

In [12]:
# scraping experience_required from the given web page
experience_tag = driver.find_elements(By.XPATH,'//span[@class="ellipsis fleft expwdth"]')
for i in experience_tag[0:10]:
    experience = i.text
    experience_required.append(experience)

In [13]:
print(len(job_title),len(job_location),len(company_name),len(experience_required))

10 10 10 10

In [14]:
df=pd.DataFrame({'Job_title':job_title,'Job_location':job_location,'Company_name':company_name,'Exp_required':experience_required})
df

,Job_title,Job_location,Company_name,Exp_required
0,Data analyst,Bangalore/Bengaluru,Multi Recruit,3-5 Yrs
1,Data Analyst - IIT/BITS/Startups,Bangalore/Bengaluru,AVE Promagne,1-5 Yrs
2,Data Analyst,Bangalore/Bengaluru,"DAT Solutions, Llc",2-3 Yrs
3,Data Analyst,Bangalore/Bengaluru,SKF Technologies,5-8 Yrs
4,Data Analyst,Bangalore/Bengaluru,Target,2-4 Yrs
5,Data Analyst (Bangalore),Bangalore/Bengaluru,Krazy Mantra,7-12 Yrs
6,Opening For Data Analyst - Bangalore,Bangalore/Bengaluru,Select Source International,6-10 Yrs
7,Data Analyst,Bangalore/Bengaluru,Finkraft,3-8 Yrs
8,Data Analyst - Java/Python,"Kolkata, Mumbai, Hyderabad/Secunderabad, Pune,...",Career Infosystem,4-8 Yrs
9,DATA ANALYST III,Bangalore/Bengaluru,Walmart,3-6 Yrs

In [16]:
df.to_csv("naukari.csv")

In [15]:
# To faech the URL
url = driver.find_elements(By.XPATH,'//a[@class="title ellipsis"]')
url[0:4]

[<selenium.webdriver.remote.webelement.WebElement (session="23bce2d2c7f65046af117d6a53221093", element="607498199F8CDA452AD7F63A812958FC_element_204")>,
 <selenium.webdriver.remote.webelement.WebElement (session="23bce2d2c7f65046af117d6a53221093", element="607498199F8CDA452AD7F63A812958FC_element_205")>,
 <selenium.webdriver.remote.webelement.WebElement (session="23bce2d2c7f65046af117d6a53221093", element="607498199F8CDA452AD7F63A812958FC_element_206")>,
 <selenium.webdriver.remote.webelement.WebElement (session="23bce2d2c7f65046af117d6a53221093", element="607498199F8CDA452AD7F63A812958FC_element_207")>]

In [16]:
for i in url[0:4]:   # Lets provide the range to print only 4 url
    print(i.get_attribute('href'))

https://www.naukri.com/job-listings-data-analyst-multi-recruit-bangalore-bengaluru-3-to-5-years-200623007946
https://www.naukri.com/job-listings-data-analyst-iit-bits-startups-ave-promagne-bangalore-bengaluru-1-to-5-years-040523908440
https://www.naukri.com/job-listings-data-analyst-dat-solutions-llc-bangalore-bengaluru-2-to-3-years-190623500055
https://www.naukri.com/job-listings-data-analyst-skf-technologies-india-private-limited-bangalore-bengaluru-5-to-8-years-210623501411

In [17]:
# scrap the data with next page

job_title =[]

In [19]:
start = 0
end = 2

for page in range(start,end):
    titles = driver.find_elements(By.XPATH,'//a[@class="title ellipsis"]')
    for i in titles:
        job_title.append(i.text)
    next_button = driver.find_element(By.XPATH,'//a[@class="fright fs14 btn-secondary br2"]')
    next_button.click()
    time.sleep(3)

In [20]:
print(len(job_title))

60

In [21]:
job_title

['Data analyst',
 'Data Analyst - IIT/BITS/Startups',
 'Data Analyst',
 'Data Analyst',
 'Data Analyst',
 'Data Analyst (Bangalore)',
 'Opening For Data Analyst - Bangalore',
 'Data Analyst',
 'Data Analyst - Java/Python',
 'DATA ANALYST III',
 'Cloud Data Analyst',
 'Data Analyst',
 'Data Analyst',
 'Data Analyst',
 'Data Analyst',
 'Data Analyst',
 'Data Analyst',
 'TS - Oracle Data Analyst - MDM',
 'Data Analyst',
 'Data Analyst',
 'Data Analyst',
 'Data Analyst',
 'Tech Data Analyst',
 'Data Analyst III',
 'Data Analyst III',
 'CN - Tech Strategy & Advisory - Data Architecture - Analyst',
 'Data Analyst',
 'Data Analyst',
 'Data Analyst',
 'Data Analyst',
 'Commercial Data Analyst',
 'Commercial Data Analyst',
 'Commercial Data Analyst',
 'Data Analyst',
 'Data Analyst',
 'Data Analyst',
 'Data Analyst',
 'Data Analyst',
 'data analyst',
 'Data Analyst',
 'Data Analyst',
 'Data Analyst',
 'Data Analyst',
 'Data Analyst',
 'Data Informatics Analyst',
 'Data Analyst',
 'Data Analyst',
 'Data Analyst',
 'Data Analyst',
 'Data Analyst',
 'Data Analyst',
 'Data Analyst',
 'Data Analyst',
 'Data Analyst',
 'Data Analyst',
 'Data Analyst',
 'Data Analyst',
 'Opportunity For RRT Analyst - NTT DATA Services',
 'Enterprise Data Domain Analyst',
 'Data Analyst']